parameters:
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
  level: 8
  treatPhpDocTypesAsCertain: false
  paths:
    - Classes
    - Tests
    - Configuration
  ignoreErrors:
    -
        identifier: missingType.iterableValue
  excludePaths:
    analyse:
      -  Tests/Functional/Fixtures/Extensions/*
      -  Tests/Build/*