parameters:
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
  level: 8
  treatPhpDocTypesAsCertain: false
  paths:
    - Classes
    - Tests
  excludePaths:
    analyse:
      -  Tests/Functional/Fixtures/Extensions/*